/* リキッドレイアウト対応 */

body {
	font-family: "Zen Kaku Gothic New", sans-serif;
}

.u-desktop {
	display: none;
}

html {
	font-size: 16px;
}

/* pcの電話番号発信対応 */

/* ホバー */

a {
	color: inherit;
	text-decoration: none;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Remove default padding */

ul,
ol {
	padding: 0;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core root defaults */

html {
	scroll-behavior: smooth;
}

/* Set core body defaults */

body {
	line-height: 1.5;
	min-height: 100vh;
	text-rendering: optimizeSpeed;
}

/* Remove list styles on ul, ol elements with a class attribute */

ul,
ol {
	list-style: none;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img {
	display: block;
	max-width: 100%;
	width: 100%;
}

/* Natural flow and rhythm in articles by default */

article > * + * {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
	font: inherit;
}

/* Blur images when they have no alt attribute */

img:not([alt]) {
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
	-webkit-filter: blur(10px);
	filter: blur(10px);
}

/* フォームリセット */

input,
button,
select,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: none;
	border-radius: 0;
	font: inherit;
	outline: none;
}

textarea {
	resize: vertical;
}

input[type=checkbox],
input[type=radio] {
	display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
	cursor: pointer;
}

select::-ms-expand {
	display: none;
}

.pc-none {
	display: block;
}

.sp-none {
	display: none;
}

.button {
	position: relative;
}

.button__link::before {
	background: url(../images/top/arrow01.svg) no-repeat center center/contain;
	border-radius: 8px;
	content: "";
	height: 22px;
	position: absolute;
	right: 17%;
	top: 30%;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	width: 22px;
}

.hero-button__link {
	background-color: #0B238A;
	border-radius: 8px;
	color: #fff;
	display: block;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: 0.8px;
	max-width: 167px;
	max-width: 10.4375rem;
	padding: 16px 32px;
	padding: 1rem 2rem;
	position: relative;
	text-align: center;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.hero-button__link:hover {
	background-color: #fff;
	border: 1px solid #0B238A;
	color: #0B238A;
}

.button__link {
	background-color: #0B238A;
	border-radius: 8px;
	color: #fff;
	display: block;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: 0.8px;
	max-width: 200px;
	max-width: 12.5rem;
	padding: 16px 0 16px 36px;
	padding: 1rem 0 1rem 2.25rem;
	position: relative;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.button__link:hover {
	background-color: #fff;
	border: 1px solid #0B238A;
	color: #0B238A;
}

.button__link:hover::before {
	right: 13%;
}

.section-title {
	color: #242424;
	display: block;
	font-family: "Poppins", sans-serif;
	font-size: 56px;
	font-size: 3.5rem;
	font-weight: 500;
	letter-spacing: 6.1px;
}

.section__subtitle {
	color: #A00D0D;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
}

.slick-arrow {
	display: none !important;
}

.box-page01 {
	left: -1%;
	margin: 0 auto;
	position: absolute;
	top: 16%;
	width: 20%;
}

.box-page02 {
	position: absolute;
	right: 0%;
	top: -28%;
	width: 18%;
}

.box-page03 {
	left: -6%;
	position: absolute;
	top: -8%;
	width: 23%;
}

.box-page04 {
	left: -16px;
	left: -1rem;
	margin: 0 auto;
	position: absolute;
	right: 0%;
	top: 78%;
	width: 35%;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.page__h2 {
	font-size: 32px;
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 0.2em;
	line-height: 60px;
	text-align: left;
}

.ls-0 {
	letter-spacing: normal;
}

.page__header {
	padding-top: 136px;
	padding-top: 8.5rem;
}

.greeting {
	padding-bottom: 64px;
	padding-bottom: 4rem;
	padding-top: 32px;
	padding-top: 2rem;
}

.greeting__content {
	gap: 64px;
	gap: 4rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
	margin: 0 auto;
	margin-top: 64px;
	margin-top: 4rem;
	max-width: 1012px;
	max-width: 63.25rem;
}

.greeting__image-container {
	max-height: 535px;
	max-height: 33.4375rem;
	max-width: 465px;
	max-width: 29.0625rem;
	width: 100%;
}

.greeting__image {
	aspect-ratio: 465/535;
	-o-object-fit: cover;
	border-radius: 20px;
	height: 100%;
	object-fit: cover;
	position: relative;
	z-index: 1;
}

.greeting__text {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.01em;
	line-height: 32px;
	max-width: 100%;
	text-align: left;
}

.greeting__signature {
	margin-top: 64px;
	margin-top: 4rem;
	max-width: 296px;
	max-width: 18.5rem;
}

.company-profile {
	background: #F5F5FF;
	overflow-x: clip;
	padding: 32px 0;
	padding: 2rem 0;
	position: relative;
}

.company-profile__content {
	background: #fff;
	border-radius: 16px;
	margin: 0 auto;
	margin-top: 64px;
	margin-top: 4rem;
	max-width: 1140px;
	max-width: 71.25rem;
	padding: 32px 20px;
	padding: 2rem 1.25rem;
	position: relative;
	z-index: 1;
}

.company-profile__item {
	border-bottom: 1px solid #c9c9c9;
	display: block;
	padding: 32px 0;
	padding: 2rem 0;
}

.company-profile__term {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 0.05em;
	line-height: 24px;
	text-align: left;
	width: 100%;
}

.company-profile__description {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.05em;
	line-height: 24px;
	text-align: left;
}

.history {
	padding: 32px 0;
	padding: 2rem 0;
	position: relative;
}

.history__content {
	margin: 0 auto;
	margin-top: 75px;
	margin-top: 4.6875rem;
	max-width: 884px;
	max-width: 55.25rem;
}

.history__event {
	display: block;
	margin-left: auto;
	padding-bottom: 16px;
	padding-bottom: 1rem;
	position: relative;
	width: 80%;
}

.history__event::before {
	color: #0B238A;
	content: "●";
	font-size: 16px;
	font-size: 1rem;
	left: -50px;
	position: absolute;
	top: 0;
}

.history__event::after {
	background: #F5F5FF;
	bottom: -29px;
	content: "";
	height: 110%;
	left: -43px;
	position: absolute;
	width: 2px;
	z-index: -1;
}

.history__date {
	display: block;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 0.05em;
	line-height: 32px;
	position: relative;
	text-align: left;
	width: 180px;
}

.history__description {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.05em;
	line-height: 32px;
	text-align: left;
	width: 68%;
}

.history__download {
	margin-top: 75px;
	margin-top: 4.6875rem;
}

.history__download-text {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.05em;
	line-height: 32px;
	text-align: center;
}

.history__download-button {
	margin: 0 auto;
	margin-top: 32px;
	margin-top: 2rem;
	max-width: 200px;
	max-width: 12.5rem;
}

.quality {
	background: #F5F5FF;
	padding-bottom: 64px;
	padding-bottom: 4rem;
	padding-top: 32px;
	padding-top: 2rem;
}

.quality__content {
	background: #fff;
	border: 1px solid #0B238A;
	border-radius: 16px;
	margin: 0 auto;
	margin-top: 32px;
	margin-top: 2rem;
	max-width: 1000px;
	max-width: 62.5rem;
	padding: 24px;
	padding: 1.5rem;
}

.quality__certification-logo {
	aspect-ratio: 300/140;
	-o-object-fit: cover;
	margin: 0 auto;
	max-height: 140px;
	max-height: 8.75rem;
	max-width: 300px;
	max-width: 18.75rem;
	object-fit: cover;
	width: 100%;
}

.quality__certification-title {
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 36px;
	margin-top: 16px;
	margin-top: 1rem;
	text-align: center;
}

.quality__certification-description {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.05em;
	line-height: 32px;
	margin-top: 24px;
	margin-top: 1.5rem;
	max-width: 100%;
	text-align: left;
}

.quality__certification-number {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.05em;
	line-height: 32px;
	margin-top: 24px;
	margin-top: 1.5rem;
	text-align: left;
}

/* アコーディオン */

.faq__title {
	margin: 0 auto;
	margin-bottom: 4%;
	margin-top: 5%;
	width: 25%;
}

.accordion-area {
	margin: 0 auto;
	max-width: 688px;
	padding-bottom: 10%;
	width: 91%;
}

.accordion-title {
	margin-top: -3px;
	padding: 16px 0;
}

.accordion-title p {
	color: #fff;
	font-family: Yu Gothic;
	font-size: clamp(10px, 3.2vw, 24px);
	font-weight: 700;
	line-height: 150%;
	padding-left: 4%;
}

.accordion-box-last {
	border-bottom: 1px solid #42210B;
}

.accordion-box p {
	color: #606060;
	font-family: Yu Gothic;
	font-size: clamp(10px, 3.2vw, 24px);
	font-weight: 500;
	line-height: 170%;
	padding-left: 4%;
	padding-right: 4%;
}

/*アイコンの＋と×*/

.title {
	position: relative;
}

.title::before,
.title::after {
	background-color: #fff;
	content: "";
	height: 2px;
	position: absolute;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	width: 15px;
}

.title::before {
	right: 5%;
	top: 48%;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

.title::after {
	right: 5%;
	top: 48%;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

/*　closeというクラスがついたら形状変化　*/

.title.close::before {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

.title.close::after {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

/*アコーディオンで現れるエリア*/

.box {
	display: none; /*はじめは非表示*/
}

.footer {
	background-color: rgba(222, 228, 255, .9960784314);
	padding-top: 32px;
	padding-top: 2rem;
	width: 100%;
}

.footer__top {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-bottom: 1px solid #0B238A;
	display: block;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	max-width: 1140px;
	max-width: 71.25rem;
	padding-bottom: 32px;
	padding-bottom: 2rem;
}

.footer__logo {
	max-width: 320px;
	max-width: 20rem;
}

.footer__nav {
	display: block;
}

.footer__nav-01 {
	max-width: 190px;
	max-width: 11.875rem;
	width: 100%;
}

.footer__nav-item {
	color: #242424;
	display: block;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.05em;
	line-height: 32px;
	margin-top: 8%;
	max-width: 190px;
	max-width: 11.875rem;
	position: relative;
	text-align: left;
	width: 190px;
	width: 11.875rem;
}

.footer__nav-item::before {
	background: url(../images/common/right_line.svg) no-repeat center center/contain;
	content: "";
	height: 20px;
	height: 1.25rem;
	left: -20px;
	left: -1.25rem;
	position: absolute;
	top: 28%;
	width: 20px;
	width: 1.25rem;
}

.footer__nav-02 {
	max-width: 190px;
	max-width: 11.875rem;
	width: 100%;
}

.footer__nav03 {
	max-width: 190px;
	max-width: 11.875rem;
	width: 100%;
}

.footer__bottom {
	gap: 61px;
	gap: 3.8125rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: block;
	padding-bottom: 72px;
	padding-bottom: 4.5rem;
	padding-top: 32px;
	padding-top: 2rem;
}

.footer__address {
	font-size: 16px;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.05em;
	line-height: 32px;
	text-align: left;
}

.footer__fax {
	font-family: "Poppins", sans-serif;
	font-size: 22px;
	font-size: 1.375rem;
	font-weight: 600;
	line-height: 44px;
	margin-right: 32px;
	margin-right: 2rem;
}

.footer__small {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 400;
	letter-spacing: 0.05em;
	line-height: 28px;
	text-align: left;
}

.footer__tel {
	display: inline-block;
	font-family: "Poppins", sans-serif;
	font-size: 22px;
	font-size: 1.375rem;
	font-weight: 600;
	line-height: 44px;
}

.footer__button {
	max-width: 200px;
	max-width: 12.5rem;
	width: 100%;
}

.footer__copyright {
	background: #0B238A;
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-size: 10px;
	font-weight: 400;
	line-height: 15px;
	text-align: center;
}

.header {
	display: none;
}

.header__inner {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 30px 40px;
	padding: 1.875rem 2.5rem;
	width: 100%;
}

.header__logo {
	max-width: 343px;
	max-width: 21.4375rem;
}

.header__nav {
	gap: 40px;
	gap: 2.5rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.header__nav-item {
	color: #333;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: 0.8px;
}

.header__button-link {
	background-color: #0B238A;
	border-radius: 8px;
	color: #fff;
	display: block;
	display: block;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: 0.8px;
	padding: 16px 32px;
	padding: 1rem 2rem;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.header__button-link:hover {
	background-color: #fff;
	border: 1px solid #0B238A;
	color: #0B238A;
}

.privacy__main {
	padding-bottom: 64px;
	padding-bottom: 4rem;
	padding-top: 40px;
	padding-top: 2.5rem;
}

.privacy__contents {
	margin: 0 auto;
	margin-top: 32px;
	margin-top: 2rem;
	max-width: 752px;
	max-width: 47rem;
}

.privacy__text {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.05em;
	line-height: 32px;
	text-align: left;
}

.privacy__h3 {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 0.05em;
	line-height: 32px;
	margin-top: 16px;
	margin-top: 1rem;
	text-align: left;
}

.privacy__text-last {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.05em;
	line-height: 32px;
	margin-top: 16px;
	margin-top: 1rem;
	text-align: left;
}

.applicant {
	padding: 32px 0;
	padding: 2rem 0;
}

.applicant__text {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.05em;
	line-height: 30px;
	margin-top: 16px;
	margin-top: 1rem;
	text-align: left;
}

.applicant__text-bold {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 0.05em;
	line-height: 30px;
	margin-top: 16px;
	margin-top: 1rem;
	text-align: left;
}

.applicant__image-container {
	margin-top: 32px;
	margin-top: 2rem;
	max-width: 558px;
	max-width: 34.875rem;
}

.applicant__image {
	aspect-ratio: 558/558;
	-o-object-fit: cover;
	border-radius: 16px;
	height: 100%;
	object-fit: cover;
}

.company-info {
	background: #F5F5FF;
	padding: 32px 0;
	padding: 2rem 0;
	position: relative;
}

.company-info__media {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
	margin: 0 auto;
	max-width: 1140px;
	max-width: 71.25rem;
}

.company-info__image-container {
	margin-top: 32px;
	margin-top: 2rem;
	max-width: 558px;
	max-width: 34.875rem;
}

.company-info__image {
	aspect-ratio: 558/558;
	-o-object-fit: cover;
	border-radius: 16px;
	height: 100%;
	object-fit: cover;
}

.company-info__content {
	max-width: 538px;
	max-width: 33.625rem;
}

.company-info__text-red {
	color: #A00D0D;
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 36px;
	margin-top: 16px;
	margin-top: 1rem;
	text-align: left;
}

.company-info__text {
	font-size: rem（16;
	font-size: rem（16;
	font-weight: 400;
	letter-spacing: 0.05em;
	line-height: 30px;
	margin-top: 16px;
	margin-top: 1rem;
	text-align: left;
}

.page-recruit {
	padding: 64px 0 32px 0;
	padding: 4rem 0 2rem 0;
}

.youth-certification {
	padding: 32px 0;
	padding: 2rem 0;
}

.youth-certification__content {
	gap: 32px;
	gap: 2rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 1px solid #0B238A;
	border-radius: 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
	margin: 0 auto;
	max-width: 1000px;
	max-width: 62.5rem;
	padding: 16px 24px;
	padding: 1rem 1.5rem;
}

.youth-certification__logo {
	aspect-ratio: 180/180;
	-o-object-fit: cover;
	height: 100%;
	max-width: 180px;
	max-width: 11.25rem;
	object-fit: cover;
}

.youth-certification__title {
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 36px;
	text-align: center;
}

.youth-certification__description {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.05em;
	line-height: 32px;
	margin-top: 24px;
	margin-top: 1.5rem;
	text-align: left;
}

.recruitment {
	padding: 32px 0 64px 0;
	padding: 2rem 0 4rem 0;
}

.recruitment__content {
	margin: 0 auto;
	max-width: 884px;
	max-width: 55.25rem;
}

.recruitment__text {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.05em;
	line-height: 32px;
	margin-top: 16px;
	margin-top: 1rem;
	text-align: left;
}

.recruitment__button {
	margin: 0 auto;
	margin-top: 32px;
	margin-top: 2rem;
	width: 236px;
	width: 14.75rem;
}

.recruitment__button a {
	max-width: 100%;
	padding-left: 30%;
	width: 236px;
	width: 14.75rem;
}

.company-info__button {
	margin-top: 32px;
	margin-top: 2rem;
}

.sp-menu {
	display: none;
	position: absolute;
	right: 26px;
	top: 40px;
	z-index: 10;
}

.sp-menu-icon {
	height: 20px;
	right: 25px;
	right: 25px;
	right: 1.5625rem;
	top: 106px;
	top: 106px;
	top: 6.625rem;
	-webkit-transition: -webkit-transform 0.3s ease 0s;
	transition: -webkit-transform 0.3s ease 0s;
	transition: transform 0.3s ease 0s;
	transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
	width: 21px;
	z-index: 3000;
}

.sp-menu-icon.is-active .sp-menu {
	left: 0;
	right: 0;
	top: 40px;
	top: 40px;
	top: 2.5rem;
	z-index: 10;
}

.sp-menu-icon:hover {
	cursor: pointer;
}

.sp-menu-icon__bars {
	display: block;
	height: 20px;
	height: 20px;
	height: 1.25rem;
	position: relative;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	width: 20px;
	width: 20px;
	width: 1.25rem;
	z-index: 1400;
}

.sp-menu-icon__bar1,
.sp-menu-icon__bar2,
.sp-menu-icon__bar3 {
	background: #c3d600;
	height: 2px;
	left: 0px;
	position: absolute;
	top: 0px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	width: 25px;
	z-index: 1200;
}

.sp-menu-icon__bar1 {
	top: 0;
}

.sp-menu-icon__bar2 {
	top: 8px;
}

.sp-menu-icon__bar3 {
	top: 16px;
}

.sp-menu-content {
	height: 100vh;
	left: 0;
	margin: 0 auto;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 10%;
	-webkit-transition: all 0.6s;
	transition: all 0.6s;
	width: 100%;
}

.sp-menu-content.is-active {
	opacity: 1;
	pointer-events: auto;
	z-index: 100;
}

.sp-menu-content__inner {
	padding: 0 20px;
	padding: 0 20px;
	padding: 0 1.25rem;
	padding-top: 10px;
}

.sp-menu-background {
	background: rgba(35, 24, 21, .9);
	height: 0;
	position: fixed;
	right: 0;
	top: 0;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	width: 100%;
	z-index: -1;
}

.sp-menu-background.is-active {
	height: 1000px;
	opacity: 1;
	z-index: 10;
}

.sp-menu-content__link {
	color: #fff;
	display: block;
	font-size: 16px;
	font-weight: 400;
	line-height: 3.75;
	text-align: left;
}

.sp-menu-content__link-box {
	color: #fff;
	display: block;
	font-size: 16px;
	font-weight: 400;
	line-height: 3.75;
	text-align: left;
}

.hero__main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.hero__sidebar {
	padding: 32px;
	padding: 2rem;
	position: relative;
}

.box01 {
	left: -7%;
	margin: 0 auto;
	position: absolute;
	top: 23%;
	width: 100%;
	z-index: -1;
}

.box02 {
	left: -3%;
	margin: 0 auto;
	position: absolute;
	top: -24%;
	width: 19%;
}

.box03 {
	bottom: -2%;
	margin: 0 auto;
	position: absolute;
	right: 0%;
	width: 22%;
}

.hero__logo {
	max-width: 167px;
	max-width: 10.4375rem;
}

.hero__nav-item {
	display: block;
	margin-top: 48px;
	margin-top: 3rem;
}

.hero__button {
	margin-top: 48px;
	margin-top: 3rem;
}

.hero__image-container {
	width: 81.14%;
}

.hero__image {
	-o-object-fit: cover;
	border-radius: 0 0 0 50px;
	height: 69vh;
	object-fit: cover;
}

.hero__content {
	gap: 64px;
	gap: 4rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 5%;
}

.hero__text {
	font-size: clamp(20px, 2.812vw, 36px);
	font-size: clamp(1.25rem, 2.812vw, 2.25rem);
	font-weight: 700;
	letter-spacing: 1.8px;
	white-space: nowrap;
}

.hero__bottom-btn {
	max-width: 200px;
	width: 100%;
}

.news {
	background: #F5F5FF;
	margin-top: 64px;
	margin-top: 4rem;
	overflow-x: clip;
	padding: 128px 0 160px 0;
	padding: 8rem 0 10rem 0;
	position: relative;
}

.news__list {
	margin: 0 auto;
	margin-top: 80px;
	margin-top: 5rem;
	max-width: 946px;
	max-width: 59.125rem;
}

.news__item {
	gap: 48px;
	gap: 3rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 48px;
	margin-top: 3rem;
}

.news__item:first-child {
	margin-top: 0px;
	margin-top: 0rem;
}

.news__wrap {
	gap: 48px;
	gap: 3rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.news__date {
	color: #242424;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.8px;
}

.news__tag {
	background: #fff;
	border: 1px solid #0B238A;
	border-radius: 4px;
	color: #0B238A;
	text-align: center;
	width: 113px;
	width: 7.0625rem;
}

.news__post {
	color: #242424;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.8px;
}

.news__more {
	margin: 0 auto;
	margin-top: 96px;
	margin-top: 6rem;
	max-width: 200px;
	max-width: 12.5rem;
}

.business {
	padding: 128px 0 96px;
	padding: 8rem 0 6rem;
}

.business__header {
	max-width: 558px;
	max-width: 34.875rem;
}

.business__description {
	color: #000;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 200%;
}

.business__content {
	gap: 24px;
	gap: 1.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 auto;
	margin-top: 80px;
	margin-top: 5rem;
	max-width: 946px;
	max-width: 59.125rem;
}

.business__item {
	border-radius: 20px;
	max-width: 461px;
	max-width: 28.8125rem;
	overflow: hidden;
	position: relative;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.business__item::before {
	background: url(../images/top/frame-w.png) no-repeat center center/contain;
	bottom: 0;
	content: "";
	height: 100%;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 85%;
	z-index: 10;
}

.business__item:hover .business__image {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.business__image {
	aspect-ratio: 461/300;
	-o-object-fit: cover;
	object-fit: cover;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.business__info {
	color: #fff;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: 36%;
}

.business__info-right {
	top: 31%;
}

.business__name {
	font-size: 32px;
	font-size: 2rem;
	font-weight: 700;
	line-height: 38.4px;
}

.business__subtext {
	font-family: "Poppins", sans-serif;
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 24px;
	margin-top: 10px;
	margin-top: 0.625rem;
}

.business__more {
	margin: 0 auto;
	margin-top: 80px;
	margin-top: 5rem;
	max-width: 200px;
	max-width: 12.5rem;
}

.recruit {
	padding: 128px 0 256px;
	padding: 8rem 0 16rem;
	position: relative;
}

.recruit__header {
	max-width: 558px;
	max-width: 34.875rem;
}

.recruit__description {
	color: #000;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 200%;
}

.recruit__content {
	gap: 24px;
	gap: 1.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 0 auto;
	margin-top: 80px;
	margin-top: 5rem;
	max-width: 1140px;
	max-width: 71.25rem;
}

.recruit__item {
	border-radius: 20px;
	display: block;
	max-width: 364px;
	max-width: 22.75rem;
	overflow: hidden;
	position: relative;
}

.recruit__item:hover .recruit__image {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.recruit__image {
	aspect-ratio: 364/244;
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.recruit__link {
	color: #fff;
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: 700;
	left: 0;
	line-height: 36px;
	margin: 0 auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: 36%;
}

@media screen and (min-width: 768px) {

.u-desktop {
	display: block;
}

.u-mobile {
	display: none;
}

html {
	font-size: 1.4035087719vw;
}

a[href^="tel:"] {
	pointer-events: none;
}

a:hover {
	opacity: 0.8;
}

.pc-none {
	display: none;
}

.sp-none {
	display: block;
}

.box-page04 {
	left: -1rem;
	margin: 0 auto;
	position: absolute;
	right: 0%;
	top: unset;
	width: 17%;
}

.inner {
	max-width: 1280px;
	padding-left: 70px;
	padding-right: 70px;
}

.page__h2 {
	font-size: 2.5rem;
}

.greeting {
	padding-bottom: 8rem;
	padding-top: 4rem;
}

.greeting__content {
	gap: 4rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: unset;
	-webkit-box-direction: unset;
	-ms-flex-direction: unset;
	flex-direction: unset;
	margin: 0 auto;
	margin-top: 4rem;
	max-width: 63.25rem;
}

.greeting__text {
	max-width: 30.1875rem;
}

.company-profile {
	padding: 4rem 0;
}

.company-profile__content {
	padding: 4rem 8rem;
}

.company-profile__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.company-profile__term {
	width: 14%;
}

.history {
	padding: 4rem 0;
}

.history__event {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: unset;
	width: 100%;
}

.history__event::before {
	color: #0B238A;
	content: "●";
	font-size: 1rem;
	left: 24%;
	position: absolute;
	top: 5px;
}

.history__event::after {
	background: #F5F5FF;
	bottom: -29px;
	content: "";
	height: 110%;
	left: 24.7%;
	position: absolute;
	width: 2px;
	z-index: -1;
}

.history__date {
	padding-bottom: 3rem;
	width: 31%;
}

.history__description {
	padding-bottom: 3rem;
}

.quality {
	padding-bottom: 8rem;
	padding-top: 4rem;
}

.quality__content {
	margin-top: 4rem;
	padding: 3rem;
}

.quality__certification {
	gap: 4rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.quality__certification-logo {
	margin: unset;
}

.quality__certification-title {
	margin-top: unset;
	text-align: left;
}

.quality__certification-description {
	max-width: 33.75rem;
}

.footer {
	padding-top: unset;
}

.footer__top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.footer__nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.footer__bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.header {
	background-color: rgba(255, 255, 255, .8);
	display: block;
	position: fixed;
	-webkit-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	width: 100%;
	z-index: 100;
}

.privacy__main {
	padding-bottom: 8rem;
	padding-top: 5rem;
}

.privacy__contents {
	margin-top: 4rem;
}

.privacy__h3 {
	margin-top: 2rem;
}

.privacy__text-last {
	margin-top: 2rem;
}

.applicant {
	padding: 4rem 0;
}

.applicant__media01 {
	gap: 1.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 auto;
	max-width: 71.25rem;
}

.applicant__text {
	margin-top: 2rem;
}

.applicant__text-bold {
	margin-top: 2rem;
}

.applicant__image-container {
	margin-top: unset;
}

.company-info {
	padding: 4rem 0;
}

.company-info__media {
	gap: 4rem;
	-webkit-box-orient: unset;
	-webkit-box-direction: unset;
	-ms-flex-direction: unset;
	flex-direction: unset;
}

.company-info__image-container {
	margin-top: unset;
}

.company-info__text-red {
	margin-top: 2rem;
}

.company-info__text {
	margin-top: 2rem;
}

.page-recruit {
	padding: 8rem 0 4rem 0;
}

.youth-certification {
	padding: 4rem 0;
}

.youth-certification__content {
	gap: 4rem;
	-webkit-box-orient: unset;
	-webkit-box-direction: unset;
	-ms-flex-direction: unset;
	flex-direction: unset;
	padding: 2rem 3rem;
}

.youth-certification__title {
	font-size: 1.5rem;
	text-align: left;
}

.recruitment {
	padding: 4rem 0 8rem 0;
}

.recruitment__text {
	margin-top: 2rem;
}

.sp-menu-content {
	max-width: 500px;
}

.recruit__content {
	-webkit-box-orient: unset;
	-webkit-box-direction: unset;
	-ms-flex-direction: unset;
	flex-direction: unset;
}

}

@media (min-width: 1140px) {

html {
	font-size: 16px;
}

}

@media screen and (min-width: 1200px) {

.sp-menu {
	display: none;
}

}

@media (max-width: 375px) {

html {
	font-size: 4.2666666667vw;
}

}


/*# sourceMappingURL=styles.css.map */
