@use "global" as *;

.requirements__header {
  position: relative;
}

.requirements__header-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.requirements__header-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

.merit {
  padding: rem(32) 0 rem(64);

  @include mq('md') {
    padding: rem(64) 0 rem(128);
  }
}

.merit__list {
  max-width: rem(450);
  margin: rem(32) auto 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(16);

  @include mq('md') {
    max-width: initial;
    margin-top: rem(64);
    grid-template-columns: repeat(3, 1fr);
    gap: rem(24);
  }
}

.merit__item {
  padding: rem(20);
  border-radius: rem(16);
  background-color: rgba(255, 255, 255, 0.9);

  @include mq('md') {
    padding: rem(32);
  }
}

.merit__order {
  font-family: $second-font-family;
  font-size: rem(50);
  color: $red;
  text-align: center;
  line-height: 1;

  @include mq('md') {
    font-size: rem(100);
    font-weight: 200;
  }
}

.merit__summary {
  font-size: rem(20);
  font-weight: 500;
  color: $navy;
  text-align: center;

  @include mq('md') {
    margin-top: rem(8);
    font-size: rem(28);
    font-weight: $bold;
    text-align: left;
  }
}

.merit__text {
  margin-top: rem(12);
  font-size: rem(16);
  font-weight: $normal;
  line-height: 2;
  color: #333;

  @include mq('md') {
    margin-top: rem(17);
  }
}

.requirements {
  position: relative;
  overflow-x: clip;
  padding: rem(32) 0;
  background: $bg;

  @include mq('md') {
    padding: rem(64) 0;
  }
}

.requirements__content {
  width: 100%;
  margin: 0 auto;
  padding: rem(16) 0;
  position: relative;
  z-index: 1;
  
  @include mq('md') {
    max-width: rem(946);
    padding: rem(32) 0 0;
  }
}

.requirements__list {
  padding: rem(20) rem(20) rem(30);
  border-radius: rem(16);
  background-color: $white;
  @include mq('md') {
    padding: rem(64) rem(49) rem(64) rem(64);
  }
}

.requirements__item {
  display: block;
  padding: rem(20) 0;
  border-bottom: 1px solid #c9c9c9;
  
  @include mq('md') {
    padding: rem(32) 0;
    display: flex;
  }
}

.requirements__term {
  padding-left: rem(16);
  font-size: rem(16);
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #242424;
  text-align: left;
  width: 100%;

  @include mq('md') {
    padding-left: rem(32);
    width: 20%;
  }
}

.requirements__description {
  margin-top: rem(10);
  padding-left: rem(16);
  padding-right: rem(16);
  font-size: rem(16);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #242424;
  text-align: left;
  
  @include mq('md') {
    margin-top: initial;
    padding-left: initial;
    padding-right: initial;
  }
}

.occupation {
  padding: rem(32) 0;
  position: relative;

  @include mq('md') {
    padding: rem(64) 0;
  }
}

.occupation__content {
  width: 100%;
  max-width: rem(600);
  margin: rem(16) auto 0;
  
  @include mq('md') {
    max-width: rem(946);
    margin-top: rem(28);
  }
}

.occupation__item {
  padding: rem(20);
  border-bottom: 1px solid #C9C9C9;
  @include mq('md') {
    padding: rem(32);
  }
}

.occupation__item a {
  @include mq('md') {
    display: flex;
    align-items: center;
    gap: rem(17);
  }
}

.occupation__item:first-child {
  margin-top: rem(0);
}

.job__tag {
  background: #fff;
  border-radius: 4px;
  width: rem(113);
  font-size: rem(14);
  font-weight: 500;
  text-align: center;
}

.job__tag.navy {
  color: $navy;
  border: 1px solid $navy;
}

.job__tag.green {
  color: #0B8A27;
  border: 1px solid #0B8A27;
}

.job__title {
  margin-top: rem(8);
  font-size: rem(16);
  letter-spacing: 0.05em;
  color: #242424;
  font-weight: 400;
  @include mq('md') {
    margin-top: initial;
  }
}

.job__status {
  margin-top: rem(8);
  min-width: rem(50);
  font-size: rem(16);
  letter-spacing: 0;
  color: #868686;
  font-weight: $bold;
  @include mq('md') {
    margin-top: initial;
  }
}

.job__status.red {
  color: $red;
}

.occupation__more {
  max-width: rem(200);
  margin: rem(48) auto 0;
  @include mq('md') {
    margin-top: rem(96);
  }
}

.button__link--occupation::before {
  right: 15%;
}

.more-touhokukougyo {
  padding: rem(32) 0;
  position: relative;
  overflow-x: clip;

  @include mq('md') {
    padding: rem(64) 0;
  }
}

.contact {
  padding: rem(64) 0;
  position: relative;

  @include mq('md') {
    padding: rem(128) 0;
  }
}

.contact__content {
  margin: 0 auto;
  max-width: rem(600);
  padding: rem(32) rem(32) rem(42);
  border-radius: rem(16);
  background-image: url(../images/common/contact_back-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  
  @include mq('md') {
    max-width: initial;
    padding: rem(48) rem(48) rem(64);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.contact__text-wrap {
  max-width: rem(524);
  color: $white;
}

.contact__title {
  font-family: $second-font-family;
  font-size: rem(36);
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.1em;

  @include mq('md') {
    font-size: rem(56);
    font-weight: 600;
  }
}

.contact__message {
  margin-top: rem(8);
  font-size: rem(18);
  font-weight: 500;

  @include mq('md') {
    font-size: rem(20);
    font-weight: $bold;
  }
}

.contact__text {
  margin-top: rem(8);
  font-size: rem(16);
  font-weight: $normal;
}

.contact__button {
  margin: rem(32) auto 0;
  max-width: rem(200);
  width: 100%;
  @include mq('md') {
    margin: rem(15) 0 0;
  }
}