@use "global" as *;

.sp-menu {
	position: absolute;
	right: 26px;
	top: 40px;
	z-index: 10;
	display: none;
}
@media screen and (min-width: 1200px) {
  .sp-menu {
    display: none;
  }
}


.sp-menu-icon {
	height: 20px;
	right: 25px;
	right: 1.5625rem;
	top: 106px;
	top: 6.625rem;
	transition: transform 0.3s ease 0s;
	width: 21px;
	z-index: 3000;
}



.sp-menu-icon.is-active .sp-menu {
	left: 0;
	right: 0;
	top: 40px;
	top: 2.5rem;
	z-index: 10;
}

.sp-menu-icon:hover {
	cursor: pointer;
}

.sp-menu-icon__bars {
	display: block;
	height: 20px;
	height: 1.25rem;
	position: relative;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	width: 20px;
	width: 1.25rem;
	z-index: 1400;
}

.sp-menu-icon__bar1,
.sp-menu-icon__bar2,
.sp-menu-icon__bar3 {
	background: #c3d600;
	height: 2px;
	left: 0px;
	position: absolute;
	top: 0px;
	transition: all 0.3s;
	width: 25px;
	z-index: 1200;
}

.sp-menu-icon__bar1 {
	top: 0;
}

.sp-menu-icon__bar2 {
	top: 8px;
}
.sp-menu-icon__bar3 {
	top: 16px;

}



.sp-menu-content {
	height: 100vh;
	left: 0;
	margin: 0 auto;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 10%;
	transition: all 0.6s;
	width: 100%;
	@include mq('md') {
		max-width: 500px;
	}
}

.sp-menu-content.is-active {
	opacity: 1;
	pointer-events: auto;
	z-index: 100;
}

.sp-menu-content__inner {
	padding: 0 20px;
	padding: 0 1.25rem;
	padding-top: 10px;
}

.sp-menu-background {
	background: rgba(35, 24, 21, 0.9);
	height: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: -1;
  transition: all 0.5s;
}

.sp-menu-background.is-active {
	opacity: 1;
	z-index: 10;
  height: 1000px;
}

.sp-menu-content__link {
	color: #fff;
	display: block;
	font-size: 16px;
	font-weight: 400;
	line-height: 3.75;
	text-align: left;
}
.sp-menu-content__link-box {
	color: #fff;
	display: block;
	font-size: 16px;
	font-weight: 400;
	line-height: 3.75;
	text-align: left;
}
